---
title: "Blog2"
date: "2025-05-07"
---
Sen blog1 har jag gjor att när man stava alla glosor rätt kommer man till en skär som säger att man klarade glossorna.
Efter det la jag till så att man kunde börja om och stava all glosor igen.
Det senast jag gjorde är att lägga till så att man kan markera ord och bara träna med de markerade orden, 
och att "slut"-skärmen fungerar med även markerade ord.
Har även såt börjat med att man ska kuna läga till sina egan glosor, vet ej riktitg hur, 
har börjat med en "kanpa" för att öpna menyn.