@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@layer base {
    /* Other Rules */

    /* Custom font */
    @font-face {

        font-display: swap;

    font-family: 'OpenDyslexic';
    font-style: normal;
    font-weight: 600;

    src: url('fonts/OpenDyslexic-Regular.woff2') format(‘woff2’), 
    }

}